.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 위쪽부터 시작하도록 설정 */
  align-items: center;
  margin: 0 auto;
  flex: 1;
  height: 100%;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 70px; /* QuestionBox 영역과 겹치지 않도록 여백 추가 */
  box-sizing: border-box; /* 패딩을 포함하여 크기를 계산 */
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.chatInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

/* 커스텀 스크롤바 스타일링 */
.chatMessages::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.36); /* 스크롤바의 색상 */
  border-radius: 1rem; /* 스크롤바의 라운드 */
}

.chatMessages::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경을 투명하게 */
}

.chatMessages::-webkit-scrollbar-button {
  display: none; /* 스크롤바 화살표 제거 */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinkAnimation {
  animation: blink 1s ease-in-out;
}
