.questionBox {
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  display: flex;
  flex-direction: column;
}

.answerBox {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  border-color: var(--color-chat-box);
  border-style: solid;
  border-width: 1px;
  color: var(--color-black);
  border-radius: 15px;
  padding: var(--spacing-base) var(--spacing-sm) var(--spacing-base) 0;
  margin-bottom: var(--spacing-base);
}

.chatInputBox {
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  padding: 11px;
  border-color: var(--color-gray);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: flex-end; /* 하단 정렬 */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 72px;
  max-height: 172px;
}

.inputField {
  flex-grow: 1; /* 가능한 공간을 모두 차지 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  padding: 10px 0 10px 10px; /* 여백 추가 */
  font-size: 16px; /* 글자 크기 설정 */
  border-radius: 20px; /* 경계선 둥글게 */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 */
  overflow: hidden; /* 내용이 넘칠 때 숨기기 */
  max-height: 150px; /* 최대 높이 설정 */
  max-width: calc(
    100% - 90px
  ); /* 아이콘 영역을 침범하지 않도록 최대 너비 설정 */
}
.contentBox {
  display: flex; /* 이를 통해 자식 요소들을 가로로 정렬 */
  width: 100%;
  flex-grow: 1;
}

.leftBox,
.rightBox {
  flex-grow: 1;
}

.leftBox {
  width: 15%;
  text-align: center;
  margin-top: var(--spacing-sm);
}

.rightBox {
  width: 85%;
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
}

.topBox,
.centerBox,
.bottomBox {
  display: flex;
  width: 100%;
}

.topBox {
  justify-content: flex-end; /* 오른쪽 정렬 */
  height: 20%;
}

.centerBox {
  flex-grow: 1;
  padding: 0 var(--spacing-lg) var(--spacing-sm) 0;
  line-height: 1.7; /* 행 간 간격 조절 */
  word-wrap: break-word; /* 길이가 긴 단어를 줄 바꿈 */
  flex-direction: column;
}

.questionTextBox {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-lg);
}

.bottomBox {
  display: flex;
  width: 100%;
  justify-content: space-between; /* 기존 아이콘들과 goodIcon, badIcon 사이에 공간을 분배 */
  height: 20%;
}

.iconGroupLeft {
  display: flex;
  justify-content: flex-start;
}

.iconGroupRight {
  display: flex;
  justify-content: flex-end; /* 오른쪽으로 정렬 */
}

.userIcon {
  width: 50px;
  height: 50px;
  background-image: url('/src/assets/profile.png');
  background-size: cover;
  display: inline-block;
}

.answerIcon {
  width: 50px;
  height: 37px;
  background-image: url('/src/assets/answer.svg');
  background-size: cover;
  display: inline-block;
}

.bookmarkIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/bookmark.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.clickBookmarkIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/clickBookmark.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.speakerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/speaker.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.speakStopIcon {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background-image: url('/src/assets/speakStop.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.speakerIcon,
.speakStopIcon {
  transition: background-image 0.3s ease-in-out;
}

.copyIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/copy.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.reanswerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/reanswer.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.shareIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/share.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.goodIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/good.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.clickGoodIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/clickGood.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.badIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/bad.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.clickBadIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/clickBad.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.voiceIcon,
.sendIcon {
  position: absolute;
  bottom: 15px; /* 하단에서 아이콘을 고정 */
}

.voiceIcon {
  right: 60px;
  width: 38px;
  height: 38px;
  background-image: url('/src/assets/voice.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.sendIcon {
  right: 20px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  background-image: url('/src/assets/send.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

/*voiceIcon 클릭 시 뜨는 모달*/
.listeningOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.listeningMessage {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid var(--color-gray);
  border-top: 4px solid var(--color-normal-blue);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list {
  margin-left: var(--spacing-sm);
}

.list li {
  margin-bottom: var(--spacing-sm);
}
