.questionBox {
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  margin-left: var(--spacing-xl);
  display: flex;
  flex-direction: column;
}

.answerBox {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  border-color: var(--color-normal-blue);
  border-style: solid;
  border-width: 1px;
  color: var(--color-black);
  border-radius: 15px;
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-base) 0;
  margin-bottom: var(--spacing-base);
}

.chatInputBox {
  width: 85%;
  max-width: 700px;
  min-width: 306px;
  padding: 11px;
  border-color: var(--color-normal-blue);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: flex-end; /* 하단 정렬 */
  box-shadow: inset 0 4px 8px rgba(2, 162, 124, 0.15);
  position: relative;
  min-height: 60px;
  max-height: 172px;
  box-sizing: border-box; /* padding과 border를 높이에 포함 */
}

.inputWrapper {
  width: 80%; /* 전체의 80% 차지 */
  display: flex;
  align-items: center;
}

.inputField {
  width: 100%; /* 부모의 100% 차지 */
  border: none;
  outline: none;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  min-height: 38px; /* 최소 높이 설정 */
  max-height: 150px; /* 최대 높이 설정 */
  box-sizing: border-box; /* padding을 높이에 포함 */
}

.contentBox {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.leftBox,
.rightBox {
  flex-grow: 1;
}

.leftBox {
  flex: 0 0 12%;
  display: flex;
  align-items: flex-start;
}

.rightBox {
  width: 85%;
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  word-break: break-word; /* 단어가 너무 길 경우 줄바꿈 */
  padding-left: 10px; /* 적절한 패딩을 추가하여 공간 확보 */
}

.topBox,
.centerBox,
.bottomBox {
  display: flex;
  width: 100%;
}

.topBox {
  justify-content: flex-end; /* 오른쪽 정렬 */
  height: 15%;
}

.centerBox {
  flex-grow: 1;
  padding: 0 var(--spacing-lg) var(--spacing-sm) 0;
  line-height: 1.7; /* 행 간 간격 조절 */
  word-break: break-all; /* 긴 단어 줄바꿈 */
  white-space: normal; /* 줄바꿈 허용 */
  overflow-wrap: break-word; /* 긴 단어 줄바꿈 */
  flex-direction: column;
}

.questionTextBox {
  display: flex;
  width: 100%;
  margin-left: var(--spacing-sm);
  margin-top: var(--spacing-sm);
  word-break: break-word; /* 긴 단어 줄바꿈 */
  line-height: 1.7; /* 행 간 간격 조절 */
}

.bottomBox {
  display: flex;
  width: 100%;
  justify-content: space-between; /* 기존 아이콘들과 goodIcon, badIcon 사이에 공간을 분배 */
  height: 20%;
}

.iconGroupLeft {
  display: flex;
  justify-content: flex-start;
}

.iconGroupRight {
  display: flex;
  justify-content: flex-end; /* 오른쪽으로 정렬 */
}

.userIcon {
  width: 50px;
  height: 50px;
  margin: var(--spacing-xs);
  background-image: url('/src/assets/user.svg');
  background-size: cover;
  display: inline-block;
}

.answerIcon {
  width: 100px;
  height: 100px;
  margin: var(--spacing-sm);
  background-image: url('/src/assets/answer.svg');
  background-size: cover;
  display: inline-block;
}

.bookmarkIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/bookmark.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.clickBookmarkIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/clickBookmark.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.speakerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/speaker.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.speakStopIcon {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background-image: url('/src/assets/speakStop.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.speakerIcon,
.speakStopIcon {
  transition: background-image 0.3s ease-in-out;
}

.copyIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/copy.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.reanswerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/reanswer.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.shareIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/share.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.goodIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/good.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.clickGoodIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/clickGood.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.badIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/bad.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.clickBadIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/clickBad.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.voiceIcon,
.sendIcon {
  position: absolute;
  bottom: 15px; /* 하단에서 아이콘을 고정 */
}

.voiceIcon {
  right: 60px;
  width: 38px;
  height: 33px;
  background-image: url('/src/assets/voice.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.sendIcon {
  right: 20px;
  width: 35px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-image: url('/src/assets/send.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

/*voiceIcon 클릭 시 뜨는 모달*/
.listeningOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.listeningMessage {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid var(--color-gray);
  border-top: 4px solid var(--color-normal-blue);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list {
  margin-left: var(--spacing-sm);
}

.list li {
  margin-bottom: var(--spacing-sm);
}
