.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  padding: 0 16px 16px 16px;
  background-color: var(--color-white);
  font-weight: bold;
  transition: transform 0.3s ease;
  position: absolute;
  z-index: 100;
  border-right: 0.5px solid var(--color-deep-blue);
}

.hidden {
  transform: translateX(-100%);
}

.visible {
  transform: translateX(0);
}

.aerochatLogoIcon {
  width: 180px;
  height: 18px;
  background-image: url('/src/assets/aerochatLogo.svg');
  background-size: cover;
  display: inline-block;
}

.buttonList {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.createButton {
  margin-top: 80px;
}

.plusIcon {
  position: relative;
  width: 14px;
  height: 14px;
}

.plusIcon::before,
.plusIcon::after {
  content: '';
  position: absolute;
  background-color: #b1b1b1;
}

.plusIcon::before {
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.plusIcon::after {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    padding: 0 16px 16px 16px;
    background-color: var(--color-light-gray);
    font-weight: bold;
    transition: transform 0.3s ease;
    position: absolute;
  }

  .hidden {
    transform: translateX(-100%);
  }

  .visible {
    transform: translateX(0);
  }
}
