.container {
  display: flex;
  flex-direction: column;
  width: 26.5%;
  height: 100vh;
  padding: 16px;
  background-color: var(--color-light-gray);
  font-weight: bold;
}

.aerochatLogoIcon {
  width: 180px;
  height: 18px;
  background-image: url('/src/assets/aerochatLogo.svg');
  background-size: cover;
  display: inline-block;
}

.newChatButton {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 118px;
  height: 46px;
  padding: 11px 18px;
  background-color: #ebebeb;
  color: #b1b1b1;
  border: none;
  border-radius: 28px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 70px;
}

.plusIcon {
  position: relative;
  width: 14px;
  height: 14px;
}

.plusIcon::before,
.plusIcon::after {
  content: '';
  position: absolute;
  background-color: #b1b1b1;
}

.plusIcon::before {
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.plusIcon::after {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
