@font-face {
  font-family: 'NotoSansKR-VariableFont_wght';
  src: url(../fonts/NotoSansKR-VariableFont_wght.ttf);
}

:root {
  --font-NotoSansKR: 'NotoSansKR-VariableFont_wght';

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */

  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-base: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */

  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #f5f5f5;
  --color-normal-gray: #ebebeb;
  --color-gray: #d9d9d9;
  --color-light-blue: #d9e3f6;
  --color-normal-blue: #5f85c7;
  --color-deep-blue: #003da5;
  --color-chat-box: #9ab2db;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* 크기 관련 단축 css */
.w-m-1440 {
  max-width: 1440px !important;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-full {
  width: 100%;
}

.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-full {
  height: 100%;
}

/* margin 관련 단축 css */
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}


.ml10 {
  margin-right: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}


.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}



/* flex 관련 단축 css */
.flex {
  display: flex;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.align-items-center {
 align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.flex-direction-column {
  flex-direction: column;
}

.outlined-btn {
  width: 80px;
  height: 32px;
  border: 1px solid #003DA5;
  background: none;
  border-radius: 5px;
}

.color-primary {
  color: #003DA5;
}

.bg-primary {
  background: #003DA5;
}

/* font 관련 */
.fs20 {
  font-size: 20px;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* 크기 관련 단축 css */
.w-m-1440 {
  max-width: 1440px !important;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-full {
  width: 100%;
}

.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-full {
  height: 100%;
}

/* margin 관련 단축 css */
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}


.ml10 {
  margin-right: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}


.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}



/* flex 관련 단축 css */
.flex {
  display: flex;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.align-items-center {
 align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-end {
  align-items: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}

.outlined-btn {
  width: 80px;
  height: 32px;
  border: 1px solid #003DA5;
  background: none;
  border-radius: 5px;
}

.color-primary {
  color: #003DA5;
}

.bg-primary {
  background: #003DA5;
}

/* font 관련 */
.fs20 {
  font-size: 20px;
}
