/* src/components/MyPage/ProfileHeader.module.css */
@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
}

.profileHeader {
    display: flex;
    align-items: center;
    background-color: #f1f1f1; /* 배경 색상 */
    padding: 20px;
}

.profileImage {
    width: 80px; /* 이미지 크기 조정 */
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    font-family: 'NotoSansKR', sans-serif; /* 폰트 적용 */
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* 글자 색상 */
}

.email {
    font-size: 1rem;
    color: #666;
}
