/*ProfileHeader.module.css*/
.profileHeader {
    width: 100%; /* 부모의 너비를 따라감 */
    max-width: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 20px;
    height: 100px;
    justify-content: center; /* 중앙 정렬 */
    gap: 20px; /* Logo와 userInfo 간의 간격 설정 */
    margin-bottom: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profileImage {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    font-family: 'NotoSansKR', sans-serif;
}

.username {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.email {
    font-size: 1rem;
    color: #666;
    text-decoration: underline;
}
