.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal > div :nth-child(2) {
  cursor: pointer;
}

.modal form {
  display: flex;
  padding: 8px;
  border: 1px solid #b1b1b1;
  border-radius: 50px;
  width: 100%;
}

.modal input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  flex: 1;
  overflow: hidden;
}

.modal button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-normal-blue);
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  flex-shrink: 0;
}

.modal button:disabled {
  background-color: #b1b1b1;
  cursor: not-allowed;
}
