.questionBox {
  width: 700px;
  height: 70px;
  padding: 11px;
  margin-bottom: var(--spacing-base);
  display: flex;
  flex-direction: column;
}

.answerBox {
  width: 700px;
  height: 150px;
  padding: 11px;
  border-color: var(--color-chat-box);
  border-style: solid;
  border-width: 1px;
  color: var(--color-black);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.chatInputBox {
  width: 700px;
  height: 40px;
  padding: 11px;
  border-color: var(--color-gray);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 가운데 정렬 */
  position: fixed; /* 화면에 고정 */
  bottom: 20px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
}

.inputField {
  flex-grow: 1; /* 가능한 공간을 모두 차지 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  padding: 10px; /* 여백 추가 */
  font-size: 16px; /* 글자 크기 설정 */
  border-radius: 20px; /* 경계선 둥글게 */
}

.contentBox {
  display: flex; /* 이를 통해 자식 요소들을 가로로 정렬 */
  width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
  flex-grow: 1;
}

.leftBox,
.rightBox {
  flex-grow: 1;
}

.leftBox {
  width: 15%;
  text-align: center;
}

.rightBox {
  width: 85%;
  margin-top: 14px;
}

.topBox,
.centerBox,
.bottomBox {
  display: flex;
  width: 100%;
}

.topBox {
  justify-content: flex-end; /* 오른쪽 정렬 */
  height: 20%;
}

.centerBox {
  height: 60%;
}

.bottomBox {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between; /* 기존 아이콘들과 goodIcon, badIcon 사이에 공간을 분배 */
}

.iconGroupLeft {
  display: flex;
  justify-content: flex-start;
}

.iconGroupRight {
  display: flex;
  justify-content: flex-end; /* 오른쪽으로 정렬 */
}

.userrIcon {
  width: 50px;
  height: 50px;
  background-image: url('/src/assets/User.svg');
  background-size: cover;
  display: inline-block;
}

.answerIcon {
  width: 52px;
  height: 37px;
  margin-top: var(--spacing-base);
  background-image: url('/src/assets/answer.svg');
  background-size: cover;
  display: inline-block;
}

.bookmarkIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/bookmark.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.speakerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/speaker.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.copyIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/copy.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.reanswerIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/reanswer.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.shareIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/share.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.goodIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('/src/assets/good.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.badIcon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background-image: url('/src/assets/bad.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.sendIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: url('/src/assets/send.svg');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}
