.userForm {
    height: 460px;
}
.userForm .userFormProfile {
    height: 100%;
}
.userForm .userFormProfile .img-cover {
    width: 130px;
    height: 130px;
}
.userForm .userFormProfile .img-cover img {
    width: 130px !important;
    height: 130px !important;
}

.userForm .box {
    margin-bottom: 25px;
}
.userForm .userFormProfile label {
    width: 72px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    font-size: 13px;
    margin-top: 10px;
}

.userForm input {
    height: 32px;
    border: 1px solid #4C578C;
    color: #888888;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 11px;
}
.userForm select {
    width: 100px;
    height: 32px;
    font-size: 11px;
    border: 1px solid #4C578C;
    color: #888888;
    border-radius: 5px;
}
.userForm input:not([type='email']) {
    width: 315px;
}
.userForm input[type='email'] {
    width: 194px;
}

.userForm input[type='email']+.gol {
    padding: 0 5px 4px;
}

.userForm .title-box {
    min-width: 50px;
}

.userForm .title-box+div {
    width: 315px;
}

.userForm .form-container {
    width: 35%;
}

.userFormSideItem {
    width: calc(65% / 2);
}
