/* YourComponent.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 69px);
  margin: 0 auto;
  margin-bottom: 69px;
}
.container header {
  width: fit-content;
  max-width: 85%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ebebeb;
}

.container header h1 {
  font-size: 2.25rem;
}
.container header div {
  font-size: 1rem;
  padding-top: 1rem;
}

.itemContainer {
  width: 85%;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: var(--spacing-base) var(--spacing-sm);
  border: 1px solid var(--color-chat-box);
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.userContainer {
  border: none;
  box-shadow: none;
}
.itemContent {
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  font-size: 14px;
}
.highlight {
  font-weight: 800;
  color: #003da5;
}

/* 커스텀 스크롤바 스타일링 */
.container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.36); /* 스크롤바의 색상 */
  border-radius: 1rem; /* 스크롤바의 라운드 */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경을 투명하게 */
}

.container::-webkit-scrollbar-button {
  display: none; /* 스크롤바 화살표 제거 */
}

.answerIcon {
  min-width: 55px;
  height: 37px;
  background-image: url('/src/assets/answer.svg');
  background-size: cover;
  display: inline-block;
  margin-right: 16px;
}

.userIcon {
  height: 55px;
  width: 55px;
  background-image: url('/src/assets/user.svg');
  background-size: cover;
  display: inline-block;
  margin-right: 16px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinkAnimation {
  animation: blink 1s ease-in-out;
}

.fixedButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0; /* 원하는 위치로 조정하세요 */
  width: 100%;
  padding: 12px 0 1rem 0;
  background-color: #ffff;
}
.fixedButton {
  position: static;
  padding: 10px 1rem;
  border: none;
  border-radius: 50px;
  background-color: #003da5;
  color: #ffff;
  cursor: pointer;
  font-size: 1rem;
}

.list {
  margin-left: var(--spacing-sm);
}

.list li {
  margin-bottom: var(--spacing-sm);
}
