@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-VariableFont_wght.ttf');
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.closeModal {
    display: none;
}

.login_modal {
    width: 844px;
    height: 593px;
    display: flex;
}

.desc_container {
    width: 100%;
    background: linear-gradient(#2477f9, #64a0ff);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.desc_title {
    display: flex;
    justify-content: center;
}

.desc_title h1 {
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-weight: 400;
    text-shadow: 3px -5px rgb(20, 91, 207);
    margin-top: 30px;
}

.desc_detail {
    margin-top: 30px;
    height: 200px;
}

.desc_first {
    margin-left: 30px;
}

.desc_first img {
    width: 44px;
}

.desc_first h1 {
    color: white;
    font-weight: 300;
    font-family: 'Noto Sans KR';
    margin-top: 0px;
    font-size: 13px;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}

.desc_second {
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px;
}

.desc_second img {
    width: 33px;
}

.desc_second h1 {
    color: white;
    font-weight: 300;
    text-align: left;
    font-family: 'Noto Sans KR';
    margin-top: 0px;
    font-size: 13px;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}

.desc_img_container {
    position: relative;
}

.desc_img1_container {
    width: 270px;
    height: 166px;
    background-color: hsla(0, 0%, 100%, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 20px;
    margin-left: 27px;
}

.desc_img1 {
    width: 242px;
    height: 127px;
}

.desc_img2_container {
    width: 255px;
    height: 185px;
    background-color: hsla(0, 0%, 100%, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 20px;
    right: 26px;
    margin-top: 60px;
}

.desc_img2 {
    width: 225px;
    height: 155px;
}

.login_container {
    width: 100%;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn_close {
    width: 20px;
    height: 20px;
    color: #003DA5;
    background-color: white;
    border: 1px solid #003DA5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 28px;
    cursor: pointer;
}

.login_close {
    position: relative;
}

.login_title {
    display: flex;
    justify-content: center;
}

.login_title h1 {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
    margin-top: 120px;
}

.login_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135px;
}

.id_input {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(130, 138, 175);
    border-radius: 30px;
    margin-top: 25px;
}

.id_input_fail {
    width: 250px;
    height: 30px;
    border: 1px solid red;
    border-radius: 30px;
    margin-top: 25px;
}

.pw_input {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(130, 138, 175);
    border-radius: 30px;
    margin-top: 15px;
    background: url(../assets/lock_icon.png) no-repeat center;
    background-position: 220px;
    background-size: 20px;
}

.pw_input_fail {
    width: 250px;
    height: 30px;
    border: 1px solid red;
    border-radius: 30px;
    margin-top: 15px;
    background: url(../assets/login_fail_icon.png) no-repeat center;
    background-position: 220px;
    background-size: 20px;
}

.login_fail_txt_none {
    display: none;
}

.login_fail_txt {
    color: red;
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: 35px;
    font-family: 'Noto Sans KR';
}

.autologin {
    margin-right: 180px;
    margin-top: 0px;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    top: 2px;
    right: 5px;
    cursor: pointer;
    background-image: url(../assets/check_gray.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#chk:checked + .circle {
    background-color: #003DA5;
    border-color: #003DA5;
    background-image: url(../assets/check_white.png);
}

#chk {
    position: absolute;
    left: -999em;
}

.chkname {
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.btn_login {
    color: white;
    width: 145px;
    height: 30px;
    background-color: #003DA5;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.btn_signup {
    color: #545454;
    font-size: 12px;
    border-bottom: 1px solid #545454;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    text-decoration: none;
}

.login_social {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.icon_circle {
    width: 42px;
    height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    cursor: pointer;
}

.icon_social {
    width: 30px;
}